#para pruebas en local sin activar el servidor remotamente
SHEET_DATA='[{"ciudad": "El peñol","hotel": "Hotel Brisas La Gaviota Mariquit-Tolima","competidor": "Arvum Hotel Boutique","buscar": "Hotel Brisas La Gaviota Mariquit-Tolima, El peñol"}]'
SCRIPT_KEY="script_personalizado"
CHECK_IN="2026-10-02"
CHECK_OUT="2026-10-03"

#para salvar en sheets
WEBAPP_URL='https://script.google.com/macros/s/AGREGUE UN ID DE SHEETS AQUI/exec'
BOOKING_CURRENCY=COP
BOOKING_COUNTRY=co
CUSTOM_CHEET_DATA=[{"hotel":"Porto Marina Hotel","competidor":"Hotel Bambu Guatape","ciudad":"Guatapé","buscar":"Hotel Bambu Guatape, Guatapé"},{"hotel":"1714 Hotel Boutique Guatapé","competidor":"El Tropico Boutique Hotel","ciudad":"El peñol","buscar":"El Tropico Boutique Hotel, El peñol"},{"hotel":"Porto Marina Hotel","competidor":"Arvum Hotel Boutique","ciudad":"Guatapé","buscar":"Arvum Hotel Boutique, Guatapé"}]
CUSTOM_CHECK_IN=2026-04-02
CUSTOM_CHECK_OUT=2026-04-01
