para pruebas en local sin activar el servidor remotamente
SHEET_DATA='[{"ciudad": "El peñol","hotel": "Hotel Brisas La Gaviota Mariquit-Tolima","competidor": "Arvum Hotel Boutique","buscar": "Hotel Brisas La Gaviota Mariquit-Tolima, El peñol"}]'
para salvar en sheets
WEBAPP_URL='https://script.google.com/macros/s/AGREGUE UN ID DE SHEETS AQUI/exec'
