name: Selenium Tests

on:
  push:
    branches:
      - testing/github
  workflow_dispatch:
    inputs:
      script_key:
        description: 'Script a ejecutar'
        required: true
        default: 'clientes_diario'
        type: choice
        options:
          - clientes_diario
          - clientes_prevision
          - competencia_diario
          - competencia_prevision
          - seguimiento_diario
          - personalizado
      sheet_data:
        description: 'parametros en Json'
        required: true
        default: string
        type: string
      check_in:
        description: 'fecha de ingreso al hotel'
        type: string
      check_out:
        description: 'fecha de salida del hotel'
        type: string

jobs:
  scrap:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && 'main' || github.ref_name }}

      - name: Build Docker image
        run: docker build -f dockerfile -t selenium-app .

      - name: Run scraper container
        run: |
            docker run --shm-size=2gb \
              -e BOOKING_CURRENCY=COP \
              -e BOOKING_COUNTRY=co \
              selenium-app ${{ inputs.script_key }} \ 
                ${{ inputs.sheet_data }} \
                ${{ inputs.check_in }} \
                ${{ inputs.check_out }} 

      - name: Show logs (si falla)
        if: failure()
        run: docker logs $(docker ps -lq)