name: Selenium Tests
on:
  workflow_dispatch:  # API trigger
    inputs:
      script_key:
        description: 'Script a ejecutar'
        required: true
        default: 'clientes_diario'
        type: choice
        options:
          - clientes_diario
          - clientes_prevision
          - competencia_diario
          - competencia_prevision
          - seguimiento_diario
          - personalizado
          - update_df
jobs:
  scrap:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build & Run Script
      run: |
          docker build -t selenium-app .

    - name: Build Docker image
      run: docker build -f dockerfile -t selenium-app .

    - name: Run container
      run: docker run --shm-size=2gb selenium-app {{script_key}}

