name: Selenium Tests
on:
  workflow_dispatch:  # API trigger
    inputs:
      script_key:
        description: 'Script a ejecutar'
        required: true
        default: 'clientes_diario'
        type: choice
        options:
          - clientes_diario
          - clientes_prevision
          - competencia_diario
          - competencia_prevision
          - seguimiento_diario
          - personalizado
          - update_df
jobs:
  scrap:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build & Run Script
      run: |
          docker build -t selenium-app .
          docker run --rm --shm-size="2g" selenium-app ${{ github.event.inputs.script_key }}

    - name: activate Logs
      run: docker compose logs -f scraper
