name: Selenium Tests

on:
  push:
    ["testing_github"]
  workflow_dispatch:
    inputs:
      script_key:
        description: 'Script a ejecutar'
        required: true
        default: 'clientes_diario'
        type: choice
        options:
          - clientes_diario
          - clientes_prevision
          - competencia_diario
          - competencia_prevision
          - seguimiento_diario
          - personalizado

jobs:
  scrap:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -f dockerfile -t selenium-app .

      - name: Run scraper container
        run: |
            docker run --shm-size=2gb \
              -e BOOKING_CURRENCY=COP \
              -e BOOKING_COUNTRY=co \
              selenium-app ${{ inputs.script_key }}

      - name: Show logs (si falla)
        if: failure()
        run: docker logs $(docker ps -lq)